<section>
<style>
.xeducation { width: 320px; height: 50px; }
@media(min-width: 500px) { .xeducation { width: 468px; height: 60px; } }
@media(min-width: 800px) { .xeducation { width: 728px; height: 90px; } }
</style>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- xeducation -->
<ins class="adsbygoogle xeducation"
     style="display:inline-block"
     data-ad-client="ca-pub-1439095798509528"
     data-ad-slot="7404619847"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</section>